nav{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(133, 133, 216);
    color: whitesmoke;
}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    width: 80px;
    text-decoration: none;
    color: whitesmoke;
}

img{
    height: 100px;
}

.item_div{
    background-color: rgb(243, 219, 219);
    display: flex;
    justify-content: space-between;
}